@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Source+Code+Pro');
body {
  background-color: #7286A0;
  font-family: 'Fira Code',monospace;  font-size: 16px;
  color: #32322C
  text-align: center;

}
li{
  font-family: font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  margin: 1em 0;
}
#columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 960px;
  margin: auto;
}
#columns div{
  padding: 10px;
  margin: 5px;
  /* border-style: dashed; */
}
ul{
  list-style-type: none;
}

h2 {
  margin-top: 0;
}
header h1{
  font-size: 72px;
  text-align: center;
}
header p{
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
nav{
  text-align: center;
  font-size: 40px;
  margin:10px;
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

main h2{
  text-align: center;
}
main ul{
  text-align: center;
}

main article{
  text-align: center;
}

.columns{
  float: left;
  width: 33.33%;

}
.row:after{
  content: "";
  display: table;
  clear: both;
  /* border-style: dashed; */
}

section div{

}
a:link {
  color: black;
}
a:visited {
  color:blue;
}
a:active {
  color: red;
}
