@import url(http://fonts.googleapis.com/css?family=Oswald+Montserrat);

body {
  background-color: #7286A0;
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  color: #32322C
  text-align: center;
}
#columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 960px;
  margin: 0 auto;
}
#columns div{
  padding: 10px;
}
ul{
  list-style-type: none;
}

h2 {
  margin-top: 0;
}
header h1{
  font-size: 40px;
  text-align: center;
}
header p{
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
  text-align: center;
}
nav{
  text-align: center;
  margin:0;
  list-style: none;
  padding-left: 0;
}

main h2{
  text-align: center;
}
main ul{
  text-align: center;
}

main article{
  text-align: center;
}
a:link {
  color: blue;
}
a:visited {
  color:red;
}
a:active {
  color: green;
}
